
/* Reseteo universal */
*{
    margin: 0;
    padding: 0;
}

.grid-container{
  
    border: solid 4px  rgb(251, 156, 84);
    margin: 5px;
    /* habilitar grid / la grilla */
    display: grid;
    /* declarar filas */
   /*grid-template-rows: 200px 200px 200px;*/
    grid-template-rows:  1fr 1fr 1fr ;
    /* Declaro columnas */
    /*grid-template-columns:200px 200px 200px;*/
    /*grid-template-columns: 33.3 33.3 33.3;*/
    /*grid-template-columns: auto auto auto auto;*/
   
    /* fr */
    grid-template-columns: 1fr 1fr 1fr ;
}

.grid-item{

  border: solid 2px rgb(245, 106, 13);
  background-color:rgb(246, 206, 97) ;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}
